*{

    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #edede9;
}

.container{
    width: 50%;
    margin: 6% 17%;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0.2em 2em;
    height: 25em;
    background-color: #d5bdaf;
}
.aside{
    float:right;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 38%;
    height: 9em;
    background-color: #edede9; 
}
h1{
    text-align: center;
}
button{
 margin-top: 3em;
 border-radius: 5px;
 border: none;
 height: 2.5em;
 font-size: 15px;
 width: 23%;
 background-color: #778da9;
}
.radio{
    display: flex;
    flex-direction: column;
    margin-top: 1.2em;
}

.label{
    margin-top: 0.7em;
}
#displayNumber{
    font-size: 55px;
    padding: 1em;

}
.name{
    border-radius: 5px;
    height: 2em;
    width: 50%;
    border: none;
    background-color: #edede9; 
    
}
.reset{
    margin-left: 12%;
}
.displayText{
    height: 2em;
    font-style: oblique;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}
.danger {
    color: crimson;
    font-weight: bold;
  }
.success{
    color: rgb(12, 199, 12);
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    *{
        font-size: medium;
    }
    button{
        width: fit-content;
       
    }
    .reset{
        margin-left: 10%;
    }
    #displayNumber{
        padding: 0.5em;
    }
}